<!-- DOCTYPE html -->
<html lang="en">
<head>
{% load staticfiles %}
 <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block head_title %} {{ title }} {% endblock head_title %}</title>
  <link rel="stylesheet" href="{% static 'lib/angular-material/angular-material.min.css' %}" />
  <script type="text/javascript" src="{% static 'lib/angular/angular.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/angular-animate/angular-animate.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/angular-aria/angular-aria.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/angular-messages/angular-messages.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/angular-sanitize/angular-sanitize.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'lib/angular-material/angular-material.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/controllers.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>
<body ng-app="Bucketlist" ng-cloak>
{% block content %}

{% endblock content %}
</div>
</body>
</html>