{% load staticfiles %}
<div class="row">
          <md-button aria-label="Show Bucket List" class="md-fab md-raised md-mini" ng-click="toggleLeft()" hide-gt-md>
              <md-icon md-svg-icon="{% static 'svg/menu.svg' %}"></md-icon>
          </md-button>

          <md-button
          aria-label="New Bucket List Item"
          class="md-fab md-raised md-mini right"
          ng-click="toggleRight()"
          ng-hide="isOpenRight()">
            <md-icon md-svg-src="{% static 'svg/add.svg' %}" aria-label="New Bucket List Item"></md-icon>
          </md-button>
        </div>
        <div class="padding">
          <md-subheader class="md-primary"><h3 class="caps">{[{ bucketlist_name }]}</h3></md-subheader>
          <md-divider></md-divider>
          <ol class='numList'>
            <li ng-repeat="item in items" class="{[{ !item.done ? 'li-active' : '' }]}">
              <span style="margin-top:10px;">
                <md-checkbox  aria-label="Done status" ng-click="checkDone($index)" ng-model="item.done"></md-checkbox>
              </span>
              <p> {[{ item.task }]}</p>
              {% include 'bucketlist-option-menu.html' %}
            </li>

          </ol>
          <small ng-show="!items.length">No bucket list item found</small>
        </div>
        {% include 'pagination.html' %}