{% load staticfiles %}
<md-menu class="list-secondary">
  <md-button aria-label="Open Option Menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
    <md-icon md-menu-origin md-svg-icon="{% static 'svg/arrow-down.svg' %}"></md-icon>
  </md-button>
  <md-menu-content width="4">
   <md-menu-item>
      <md-button ng-click="edit($index)">
      <md-icon md-menu-origin md-svg-icon="{% static 'svg/pencil.svg' %}"></md-icon>
        Edit
      </md-button>
    </md-menu-item>
    <md-menu-divider></md-menu-divider>
<md-menu-item>
      <md-button ng-click="delete($index)">
      <md-icon md-menu-origin md-svg-icon="{% static 'svg/delete.svg' %}"></md-icon>
        Delete
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>