#django-rest-swagger {
    background: #0398CA;
    color: #eee;
    text-align:right;
    padding: 7px 0;
    font-size: 0.8em
}
#django-rest-swagger a {
    color: #fff;
    text-decoration: none;
}
