{% load staticfiles %}
<div class="padding">
    <md-subheader class="md-primary">
        <div class="row">
            <md-button aria-label="Show Bucket List" class="md-fab md-raised md-mini left" ng-click="toggleLeft()" hide-gt-md>
                <md-icon md-svg-icon="{% static 'svg/menu.svg' %}"></md-icon>
            </md-button>
            <md-button aria-label="New Bucket List Item" class="md-fab md-raised md-mini right" ng-click="newItem()" ng-hide="isOpenRight()">
                <md-icon md-svg-src="{% static 'svg/add.svg' %}" aria-label="New Bucket List Item"></md-icon>
            </md-button>
            <h3 class="caps left" style="padding-left:30px">{[{ bucketlist_name }]}</h3>
            <div style="clear:both;"></div>
        </div>
    </md-subheader>
    <p class="left" style="width:50%; margin:5px;"><small style="margin-right:50px; padding-left: 40px; text-align:left;">{[{ total }]} {[{ footer_text }]}</small>
    </p>
    <div style="clear:both;"></div>
    <md-divider></md-divider>
    <ol class='numList'>
        <li ng-repeat="item in items" class="{[{ !item.done ? 'li-active' : '' }]}">
            <span style="margin-top:10px;">
                <md-checkbox  aria-label="Done status" ng-click="checkDone($index)" ng-model="item.done"></md-checkbox>
              </span>
            <p> {[{ item.task }]}</p>
            {% include 'includes/bucketlist-option-menu.html' %}
        </li>
    </ol>
    <div style="clear:both;"></div>
    <small ng-show="!items.length">No bucket list item found</small>
</div>
{% include 'includes/pagination.html' %}
