{% load staticfiles %}
<md-subheader class="md-primary">
    <h3>My Bucket Lists
    <md-button aria-label="{[{ newBucketlist ? 'New Bucket List' : 'Cancel' }]}" ng-click="toggleBucketListForm()" class="md-icon-button right">
      <md-icon md-svg-icon="{% static 'svg/add.svg' %}" ng-show="!newBucketlist"></md-icon>
      <md-icon md-svg-icon="{% static 'svg/cancel.svg' %}" ng-show="newBucketlist"></md-icon>
    </md-button>
  </h3> {% include 'includes/new-bucketlist.html' %}
</md-subheader>
<md-divider></md-divider>
<ol class='sideList'>
    <li ng-click="showBucketListItems($index)" class="{[{  activeId === bucket.id ? 'li-active' : '' }]}" ng-repeat="bucket in bucketlists">
        <span> {[{ bucket.name}]} <br/> <small>{[{ bucket.date_created.split('T')[0] }]}</small></span>
        {% include 'includes/bucketlist-option-menu.html' %}
    </li>
</ol>
{% include 'includes/pagination.html' %}
